{% extends 'base.html' %}
{%block content%}
<h1>Shopping Cart</h1>
<div uk-grid>
    <div>


<div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
    <div class="uk-card-media-left uk-cover-container">
        <img src="" alt="Product image" uk-cover>
        <canvas width="600" height="400"></canvas>
    </div>
    <div>
        <div class="uk-card-body">

            <h3 class="uk-card-title">item description:{{items.user_id}}</h3>
            <p>Item price{{items.id}}</p>
        </div>
    </div>
</div>
</div>

  <div class="uk-card uk-card-default uk-card-body uk-width-1-3@m uk-margin-large-left">
      <div class=" uk-label">Want free shipping</div>
      <h3 class="uk-card-title">Subtotal:</h3>
      <button class="uk-button uk-button-secondary uk-width-1-1"><span uk-icon="icon: cart; " class="uk-margin-large-right"></span>Proceed to check out</button>
  </div>

</div>
{%endblock%}
